// structures that the Structure Preloader will preload, for later use by the Renderer
// avoids having to do it frequently, as this is an expensive process
// isn't sufficient for structures that don't follow a set pattern

// also supports templates, which are structures but you can swap out the blocks used, which use a bit of a palette system
{
    "structures": {},
    "templates": {
        "block": {
            // a singular block; probably very useful, so it's included by default
            "templates": {},
            "image": "/scripts/player/pixel.png"
        }
    },
    // a list of every block template in existence, cause I know of no other way
    // only used for preloading structure templates
    // a script attempting to render a block that has a template not in here will error
    // if oSB is installed, the postload script will handle this
    "allBlockTemplates": [
        "/tiles/classicmaterialtemplate.config",
        "/tiles/columntemplate.config",
        "/tiles/girdertemplate.config",
        "/tiles/pipetemplate.config",
        "/tiles/platformtemplate.config",
        "/tiles/railtemplate.config",
        "/tiles/rowtemplate.config",
        "/tiles/screwtemplate.config",
        "/tiles/slopedmaterialtemplate.config"
    ]
} 
