{
    "supportedAnimationScripts":{
        "/items/active/effects/detector.lua":"default",
        "/items/active/effects/entitymarker.lua":"default",
        "/items/active/weapons/ranged/abilities/homingrocket/homingrocketanimation.lua":"default",
        "/items/active/effects/chain.lua":"chain",
        "/items/active/effects/lightning.lua":"lightning"
    }
} 
